@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Londrina+Solid&family=Russo+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
a{
  color: #333;
  text-decoration: none;
}
.main{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.app .app-header{
  text-align:center ;
  background-color: #FF5733;
  font-family: 'Alfa Slab One', cursive;
  color: #fff;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
 
}
.search-filter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .app-header input{
display: flex;
justify-content: flex-end;
padding: 0.5rem;
}
.app .app-header .search-filter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.3rem;
}
.app .app-header .search-filter .filters{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.app .app-header .search-filter .search{
  display: flex;
}
.app .app-header .search-filter .search button{
  cursor: pointer;
  padding: 0.3rem;
}
.app .app-header .search-filter .filters .filter{
  padding: 0.5rem;
}

@media(max-width:460px){
  .main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app .app-header .search-filter{
    flex-direction: column;
  }
}